@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div>
        <h1>SalesHub</h1>
        <img src="https://www.mishainfotech.com/images/InventoryManagement.png" height="200px" width="100%" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products Details</h2>
        <p>
            You will get the products details and you can add see details and delete the product from the data. You will be provided with the list of the product which are currently present and how much quantity of products are there.
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44371/Product/DisplayProduct">Products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sale Details</h2>
        <p>You will get the Sales details and you can add see details and delete the product from the data that how much products are sold from the stocks. You will be provided with the list of the product which are sold by the company.</p>
        <p><a class="btn btn-danger" href="https://localhost:44371/Sold/DisplaySold">Sales &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Purshace Details</h2>
        <p>You will get the Product Purchase details and you can add see details and delete the product from the data that how much products you have purchased & add to the stocks. You will be provided with the list of the product which are purchased by the company.</p>
        <p><a class="btn btn-success" href="https://localhost:44371/Bought/DisplayBought">Purchase &raquo;</a></p>
    </div>
</div>
